$square-color-black:  #000000
$square-color-red:  #E63009
$square-color-blue: #175BFF
$square-size: 100px


body
  font-family: Arial

.board
  display: flex
  .square-value-NONE,
  .square-value-X,
  .square-value-O

    display: block
    width: $square-size
    height: $square-size
    border: 1px solid black
    text-align: center
    font-size: $square-size

  .square-value-NONE
    color: $square-color-black
    &:before
      content: " "

  .square-value-X
    color: $square-color-blue
    &:before
      content: "X"

  .square-value-O
    color: $square-color-red
    &:before
      content: "O"

.player
  border: 1px solid black

.player-X
  color: $square-color-blue
  &:after
    content: "X"

.player-O
  color: $square-color-red
  &:after
    content: "O"